.PC {
    background-color: blue;
}

.NDP {
    background-color: orange;
}

.GRN {
    background-color: green;
}

.LIB {
    background-color: red;
}

.IND {
    background-color: gray;
}

.carousel-inner {
    background-color: pink;
}

#myIndicator {
    bottom: 0;
    margin-bottom: 0;

}

h5, .h5 {
    font-size: 17px;
    color: black;
}

.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
}

.glyphicon {
    line-height: 3;
    right: 130px;
}